
연구일지/졸업작품 주간 일지 4주차/.vs
연구일지/졸업작품 주간 일지 4주차/.vs/4주차/v15/.suo
연구일지/졸업작품 주간 일지 4주차/Debug
연구일지/졸업작품 주간 일지 4주차/4주차/Debug

연구일지/졸업작품 주간 일지 6주차/h
연구일지/졸업작품 주간 일지 8주차/h

GCC 코드/code
기타
연구일지/졸업작품 주간 일지 8주차/Project1/.vs/Project1/v16/.suo
연구일지/졸업작품 주간 일지 8주차/Project1/.vs/Project1/v16/Browse.VC.db
*.ipch
*.obj
*.log
*.tlog
